.card
{
    min-width: 300px;
    height: 150px;
    box-shadow: 0px 0px 10px lightslategray;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: all 1.5s
}

.card > div
{
    border-radius: inherit;
    background-color: #ffffff;
    padding: 10px;
}

.front
{
    width: inherit;
    height: 130px;
    transform: rotateY(0deg);
}

.back
{
    width: inherit;
    height: 130px;
    transform: rotateY(180deg);

    position: relative;
    top: -100%;
}

.flip
{
    display: none;
}

.flip:checked + .card
{
    transform: rotateY(180deg);
}

.title
{
    transform: translate(-50%, -50%);
    font-size: 60pt;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
}

.left
{
    width: 50%;
    float: left;
}

.right
{
    width: 50%;
    float: right;
}

label
{

}

.button
{
    display: none;
}

.button:checked + label
{
    
}